
body{
	display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
      
    
}
  .formulaire {
     
      width:40%;
      padding: 20px;
      border: 1px solid #ccc; 
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 
    }