body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
   }
   .navbar {
    background:#6ab446;
   }
   .nav-link,
   .navbar-brand {
    color: #fff;
    cursor: pointer;
   }
   .nav-link {
    margin-right: 1em !important;
   }
   .nav-link:hover {
    color: #000;
   }
   .navbar-collapse {
    justify-content: flex-end;
   }
   .img1{
    width:5%;
   }
   .container{
   margin-top:5%;
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
   }
   .card{
   display: flex;
   align-items: center;
   justify-content: center;
   }