body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
    font-family:  sans-serif;
   }
   .navbar {
    top: 0;
    background:#7f807e;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
   }
  .nav{
    /* background-color: rgb(45, 179, 27); */
    width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
  }

.navbar-nav{
      display: flex;
       justify-content: space-between;
       padding: 0;
       margin: 0;
       align-items: center;
       width: 100%;
   } 

  
 .nav-link {
    color: #fff;
    cursor: pointer;
   }
   .nav-item {
    list-style-type: none;
    
   }
   .nav-link{
    text-decoration-line: none;
   }
 
   .nav-link:hover {
    color: #0f0e0e;
   } 


   .profil{
  
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   }
   #profil{
    width:50px;
   }

   .content{
      background-color: aqua;
      margin-top: 70px;
   }
